<div class="container-fluid">

<h2 style="text-align:center;" >Welcome Visitor, the stage is: {{title}}</h2>

<br>

<!-- <form>
 <input (click) = "recalc()" id = "lhs" type = "number" [(ngModel)]="lhs" name = "lhs">
  <select [(ngModel)] = "operator" (click) = "recalc()" name = "operator">
    <option value = "+"> + </option>
    <option value = "-"> - </option>
    <option value = "*"> * </option>
    <option value = "/"> / </option>
  </select>
  <input (click) = "recalc()" id = "rhs" type = "number" [(ngModel)]="rhs" name = "rhs">
</form>

{{lhs}}{{operator}}{{rhs}} = {{result}} -->


<p style="text-align:center;">Origin | Destination | number of tickets | take off after days</p>
<form style="text-align:center;">
   <select [(ngModel)] = "oriAirport" name = "oriAirport">
     <option value = "ORD"> ORD </option>
     <option value = "CDC"> CDC </option>
     <option value = "WTF"> WTF </option>
     <option value = "OMG"> OMG </option>
   </select>
   <select [(ngModel)] = "desAirport" name = "desAirport">
    <option value = "ORD"> ORD </option>
    <option value = "CDC"> CDC </option>
    <option value = "WTF"> WTF </option>
    <option value = "OMG"> OMG </option>
  </select>
   <input id = "date" type = "date" [(ngModel)] = "date" name = "date">
   <input id = "travelers" type = "number" [(ngModel)] = "travelers" name = "travelers">

 </form>

  <br>

 <button type="button" class="btn btn-primary btn-lg btn-block" (click) = "travelCost()"> Submit </button>

 <br>

 <p style="text-align:center;"> From {{oriAirport}} to {{desAirport}}, take off at {{date}} , with {{travelers}} people. Your total cost is <span class="font-weight-bold" style="color : brown">$ {{cost}} </span> </p>

 </div>
